<h1>Dashboard</h1>
<br>
<div class="panel panel-warning">
  <div class="panel-heading">
    <%= link_to 'Products',  [:admin, :products] %> (<%= @products.length%>)
  </div>
  <div class="panel-body">
    More info...
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <%= link_to 'Categories',  [:admin, :categories] %> (<%= @categories.length%>)
  </div>
  <div class="panel-body">
    More info...
  </div>
